!!!
%html(lang="en-US")
  %head
    %title FoodTrukus
    %meta(charset="UTF-8")
    %meta(content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" name="viewport")
    %script{:src => "https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js"}
    %link{:href => "https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css", :rel => "stylesheet"}/
    :css
      body { margin:0; padding:0; }
      #map { position:absolute; top:250px; bottom:0; width:100%; }
    = stylesheet_link_tag "application"
    /[if IE]
      = javascript_include_tag "html5"
    = yield :head
    = csrf_meta_tags
  %body
    %h1 FoodTruck.us
    =link_to :sign_in
    =link_to :sign_out
    = yield
